.light-font {
  font-weight: 200;
}

.cu-pointer {
  cursor: pointer;
}

.w-fit {
  width: fit-content;
}

.small {
  font-size: 0.8rem !important;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
}
