.light-font {
  font-weight: 200;
}

.cu-pointer {
  cursor: pointer;
}

.w-fit {
  width: fit-content;
}

.small {
  font-size: 0.8rem !important;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.flex-around {
  display: flex;
  justify-content: space-around;
}

.select-none {
  user-select: none;
}

.postion-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.postion-bottom {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -100%);
}
