html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  background-color: #fafafa !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Helper */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cu-pointer {
  cursor: pointer;
}

.w-fit {
  width: fit-content;
}

.small {
  font-size: 0.8rem !important;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
