.homePage {
  .stickySide {
    position: fixed;
    top: 100px;
    right: 27vw;

    @media (max-width: 905px) {
      display: none !important;
    }
  }

  .postContainer {
    width: 100%;
    max-width: 600px;
  }
}
