.mainNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
  padding: 15px;
  z-index: 1060;

  p,
  .mainList {
    margin: 0;
  }

  .mainList {
    li {
      cursor: pointer;
      position: relative;

      &:last-of-type {
        z-index: 1200;
      }

      .hiddenList {
        position: absolute;
        background-color: #fff;
        top: calc(100% + 16px);
        left: calc(50% - 31px);
        transform: translateX(-50%);
        border-radius: 8px;
        z-index: 1000;

        &::before {
          content: "";
          position: absolute;
          left: 75%;
          top: -8px;
          height: 14px;
          width: 14px;
          border: 1px solid #dee2e6;
          background: #fff;
          transform: translateX(-50%) rotate(45deg);
          border-right: transparent;
          border-bottom: transparent;
        }

        li {
          padding: 4px 38px 4px 14px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;

          &:hover {
            background-color: #f1f1f1;
          }
        }

        hr {
          margin: 1px 0;
        }
      }
    }
  }

  .searchBar {
    position: relative;
    width: 100%;
    max-width: 260px;
    margin-left: 10%;

    label.searchIcon {
      position: absolute;
      left: 15px;
      cursor: text;
      font-weight: 200;
    }

    input {
      width: 100%;
      background-color: #efefef;
      padding: 6px 15px;
      outline: none;
      border: none;
      border-radius: 8px;
    }

    .emptyQuery {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 0.6rem;
      color: #efefef;
      background-color: #c7c7c7;
      cursor: pointer;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      z-index: 3;
      user-select: none;
    }

    .resultContainer {
      background-color: #fff;
      height: 370px;
      width: 150%;
      left: 50%;
      top: calc(100% + 12px);
      transform: translateX(-50%);

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: -7px;
        height: 14px;
        width: 14px;
        border: 1px solid #dee2e6;
        background: #fff;
        transform: translateX(-50%) rotate(45deg);
        border-right: transparent;
        border-bottom: transparent;
      }

      .result {
        transition: 0.2s;
        align-items: center;

        &:first-of-type {
          margin-top: 10px;
        }

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

  .closeListsBackDrop {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
}
